<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        table#t01{
            border: 1px solid black;
            border-collapse: collapse;
        }
        table#t01 td, table#t01 th{
            border: 1px solid black;
        }
        table#t01 th {
            background-color: #bfbfbf;
            color: black;
        }
        body#b01 {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body id="b01">

<br>

<img src="/home/lucie/Téléchargements/withname_bottom.png" style="float:left;width:8%;height:8%;">


<table  style="width:100%" border="0">
    <tr>
        <th align="left" >Twake</th>
        <th align="right">{{ name }}</th>
    </tr>
    <tr>
        <td>Avenue des Lila</td>
        <td align="right">{{ billing_address }}</td>
    </tr>
    <tr>
        <td>mail : ..</td>
        <td align="right">{{ mail }}</td>
    </tr>
    <tr>
        <td>tel</td>
        <td align="right">{{ phone_number }}</td>
    </tr>
</table>


<br>

<h3 align="right">{{ issue_date }}</h3>

<h1 align="center">Facture {{ bill_id }}</h1>

    <br>

    <table style="width:100%" id="t01" align="center">
        <tr>
            <th align="left">Désignation</th>
            <th style="width:15%" align="right">Prix unitaire</th>
            <th style="width:15%" align="right">Prix HT</th>
        </tr>
        <tr>
            <td align="left"> Prix utilisateur</td>
            <td align="right"> {{ month_price }}</td>
            <td align="right">{{ month_price * users_number }}</td>
        </tr>
        <tr>
            <td align="left">Prix application</td>
            <td align="right">0 €</td>
            <td align="right">0 €</td>
        </tr>
    </table>

    <br>

    <table style="width:30%" id="t01" align="right">
        <tr>
            <th style="width:15%" align="right">Total HT </th>
            <td style="width:15%" align="right">?</td>
        </tr>
        <tr>
            <th align="right">TVA</th>
            <td align="right">?</td>
        </tr>
        <tr>
            <th align="right">Total TTC</th>
            <td align="right">{{ cost }}</td>
        </tr>
    </table>


</body>
</html>
