{% extends "Mail/fr/all.html.twig" %}

{% block title %}Vous avez été invité dans l'espace de travail {{ workspace }} {% endblock %}

{% block secondtitle %}Vous avez été invité dans l'espace de travail {{ workspace }} du groupe {{ group }}{% endblock %}

{% block body %}

    Bonjour,
    <br>
    Vous avez été invité par <b>{{ sender_user|capitalize }}</b> ({{ sender_user_mail }}) dans l'espace de travail
    <b>{{ workspace }}</b> du groupe {{ group }}.
    <br><br>

    <br>
    <center>
        <a href="{{ twakeappurl|trim('/') }}/login?subscribe&mail={{ mail }}"
           style="display: inline-block; color: #ffffff; background-color: #837dff; border: solid 1px #837dff; border-radius: 5px; box-sizing: border-box; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; border-color: #837dff;">
            Rejoindre l'espace de travail
        </a>
        <div style="display:none">
            <br/>{{ twakeappurl|trim('/') }}/login?subscribe&mail={{ mail }}
        </div>
    </center>
    <br>
    <br>

    Nous vous invitons à créer un nouveau compte car nous ne connaissons pas cette adresse e-mail.
    <br>
    <br>
    Si vous avez déjà un compte Twake, ajoutez
    <b>{{ mail }}</b> dans la liste de vos adresse mails, vous serez alors automatiquement ajouté à cet espace de travail.

{% endblock %}