
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Twake</title>
    <meta name="description"
          content="Twake révolutionne vos équipes et projets professionnels ou personnels. Messagerie, Partage des fichiers, Collaboration, Gestion des droits, Gestion des membres, Marketplace. Gratuit à vie !">
    <meta name="keywords" content="collaboration, projet, équipe, marketplace, groupes, twake, team">
    <meta name="author" content="Twake">

    <!-- CSS from /angular/libs -->
    <!-- CSSLIBS_BEGIN -->
    <link rel="stylesheet" href="/angular/libs/ui-bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="/angular/libs/font-awesome.css"/>
    <link rel="stylesheet" href="/angular/libs/hoverex-all.css"/>
    <link rel="stylesheet" href="/angular/libs/prettyPhoto.css"/>
    <link rel="stylesheet" href="/angular/libs/angular-confirm/confirm.css"/>
    <link rel="stylesheet" href="/angular/libs/angular-datepicker/dist/angular-datepicker.css"/>
    <link rel="stylesheet" href="/angular/libs/angular-tags/ng-tags-input.min.css"/>
    <link rel="stylesheet" href="/angular/libs/allmighty-autocomplete/style/autocomplete.css">
    <link rel="stylesheet" href="/angular/libs/tameraydin-ngToast/dist/ngToast.min.css">
    <link rel="stylesheet" href="/angular/libs/tameraydin-ngToast/dist/ngToast-animations.min.css">
    <link rel="stylesheet" href="/angular/libs/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="/angular/libs/emojione/emojione.min.css"/>
    <link rel="stylesheet" href="/angular/libs/emojione/emojionearea.css"/>
    <link rel="stylesheet" href="/angular/libs/angular-scrollbars/jquery.mCustomScrollbar.min.css"/>
    <!-- CSSLIBS_END -->

    <!-- CSS from /angular/styles -->
    <!-- CSSSTYLE_BEGIN -->
    {% for style in styles %}
        <link rel="stylesheet" href="/angular/styles/{{ style }}" type="text/css" />
    {% endfor %}
    <!-- CSSSTYLE_END -->
    <!-- JS  main libraries-->
    <!-- MAIN_BEGIN -->
    <script src="/angular/electron.js"></script>
    <script src="/angular/libs/jquery-ui/external/jquery/jquery.js"></script>
    <script src="/angular/libs/jquery-ui/jquery-ui.min.js"></script>
    <script src="/angular/libs/angular.min.js"></script>
    <script src="/angular/parameters.js"></script>
    <script src="/angular/common.js"></script>
    <script src="/angular/libs/moment.js"></script>
    <script src="/angular/libs/hammer.js"></script>
    <script src="/angular/libs/fastclick.js"></script>
    <script src="/angular/libs/emojione/emojione.min.js"></script> <!-- doit être importé ici -->
    <script src="/angular/libs/angular-translate/1angular-translate.js"></script>
    <script src="/angular/libs/angular-translate/2angular-translate-loader-url.js"></script>
    <!-- MAIN_END -->

    <!-- JS from services -->
    <!-- SERVICE_BEGIN -->
    {% for service in services %}
        <script src="/angular/services/{{ service }}"></script>
    {% endfor %}
    <!-- SERVICE_END -->
    <!-- JS /public/scripts/app.js  -->
    <!-- APP_BEGIN -->
    <script src="{{ apppath }}/scripts/app.js"></script>
    <!-- APP_END -->

    <!-- End of head -->
    <base href="/"> <!-- For public app only -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>

<!-- twake icons -->
<link href="https://file.myfontastic.com/TzPb3vRY5SXJ6g2KQVpcMC/icons.css" rel="stylesheet">



<!-- START BASE HTML -->


<body ng-app="twake" ng-class="{'macos':window.macos,'windows':window.windows}">

<toast style="margin-top:60px;"></toast>

<div ng-include="'@views/electron.html'" style="overflow: visible;z-index: 100000000;"></div>
<div ng-class="{'loaded':server_loaded && view_loaded}" class="server_loading animatedBackground">
    <div style="" id="loading_canvas">

    </div>

    <div class="loading_text">
        <div class="intext-loading"></div>
        Twake
        <br>
        <span>Everything is going to be here...</span>
    </div>
</div>

<div style="position: absolute;height: 100%;width: 100%;left:0px;top: 0px;overflow: hidden;">
    <div ui-view="">

    </div>
</div>


<!-- END BASE HTML -->


<!-- JS from /libs -->
<!-- INNERLIBS_BEGIN -->
<script src="/angular/libs/angular-animate/angular-animate.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
<script src="/angular/libs/angular-resource/angular-resource.js"></script>
<script src="/angular/libs/angular-cookies/angular-cookies.js"></script>
<script src="/angular/libs/angular-sanitize/angular-sanitize.js"></script>
<script src="/angular/libs/angular-touch/angular-touch.js"></script>
<script src="/angular/libs/angular-route/angular-route.js"></script>
<script src="/angular/libs/angular-socialshare/dist/angular-socialshare.min.js"></script>
<script src="/angular/libs/angular-translate/0platform.js"></script>
<script src="/angular/libs/angular-datepicker/dist/angular-datepicker.min.js"></script>
<script src="/angular/libs/ngGeolocation/ngGeolocation.min.js"></script>
<script src="/angular/libs/angular-elastic/elastic.js"></script>
<script src="/angular/libs/angular-translate/3angular-ui-router.min.js"></script>
<script src="/angular/libs/angular-translate/4stateHelper.min.js"></script>
<script src="/angular/libs/angular-tooltips/angular-tooltips.min.js"></script>
<script src="/angular/libs/nlf/ng-nativeDrawer.min.js"></script>
<script src="/angular/libs/gos-websocket/gos-websocket.js"></script>
<script src="/angular/libs/ng-file-upload/ng-file-upload-all.min.js"></script>
<script src="/angular/libs/ng-file-upload/ng-file-upload-shim.min.js"></script>
<script src="/angular/libs/ng-file-upload/ng-file-upload.min.js"></script>
<script type='text/javascript' src="/angular/libs/loading-bar/loading-bar.min.js"></script>
<script src="/angular/libs/angular-confirm/angular-confirm.min.js"></script>
<script src="/angular/libs/angular-tags/ng-tags-input.min.js"></script>
<script type="text/javascript" src="/angular/libs/allmighty-autocomplete/script/autocomplete.js"></script>
<script type="text/javascript" src="/angular/libs/allmighty-autocomplete/script/app.js"></script>
<script src="/angular/libs/ui-bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="/angular/libs/angular-countries/ng-country-select.min.js"></script>
<script type="text/javascript" src="/angular/libs/tameraydin-ngToast/dist/ngToast.min.js"></script>
<script type="text/javascript" src="/angular/libs/anchorme/dist.js"></script>
<script type="text/javascript" src="/angular/libs/context-menu/contextMenu.js"></script>
<script type="text/javascript" src="/angular/libs/ace/ui-ace.js"></script>
<script src="/angular/libs/textcomplete/textcomplete.js"></script>
<script src="/angular/libs/angular-dragdrop/src/angular-dragdrop.min.js"></script>
<script src="/angular/libs/websockets/autobahn.min.js"></script>
<script src="/angular/libs/websockets/gos_web_socket_client.js"></script>
<script src="/angular/libs/json3/lib/json3.min.js"></script>
<script src="/angular/libs/angular-scrollbars/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/angular/libs/morphext/morphext.js"></script>
<!-- INNERLIBS_END -->

<!-- JS from group, administration, public (controllers) -->
<!-- OURAPP_BEGIN -->
<!-- OURAPP_END -->
<!-- OURJS_BEGIN -->
{% for script in appscripts %}
    <script src="{{ apppath }}/scripts/{{ script }}"></script>
{% endfor %}
<script src="{{ apppathgroups }}/scripts/app.js"></script>
{% for script in appscriptsgroups %}
    <script src="{{ apppathgroups }}/scripts/{{ script }}"></script>
{% endfor %}
<!-- OURJS_END -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js"></script>


<script type="text/javascript">
    $(function () {
        window._urq = window._urq || [];
        _urq.push(['initSite', 'bf184945-cfab-405c-aa9d-34a33e8e211c']);
        (function () {
            var ur = document.createElement('script');
            ur.type = 'text/javascript';
            ur.async = true;
            ur.src = ('https:' == document.location.protocol ? 'https://cdn.userreport.com/userreport.js' : 'http://cdn.userreport.com/userreport.js');
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ur, s);
        })();
    });
</script>

</body>
</html>
