{% extends "TwakeCoreBundle:pagetypes:base_classic.html.twig" %}

{% block title %}Profil de {{ user.getUsername() }}{% endblock %}
{% block body %}

    <div class="page_block">

        <div class="cover default_user_cover" style='{{ user.getCssCoverImage() }}' ></div>


        <div class="user_page_image default_user_image" style='{{ user.getCssProfileImage() }}' ></div>

        <div class="user_page_right_photo">

            <div class="addcontact" style="float:right;max-width: 100px;">
                {% if notme %}
                    <div id="user_addfriends_button" data-user-id="{{ user.getId() }}"></div>
                    <script type="text/javascript">
                        generate_contact_buttons($("#user_addfriends_button"));
                    </script>
                {% endif %}
            </div>

            {{ user.getUsername() }}
            <br>
            <div class="nfo" style="color: #666">
                {{ user.getFirstname() }}
                {{ user.getLastname() }}
            </div>

        </div>

        <br>
        <div style="margin-left:10px">
            <b>À propos</b><br>
            {{ user.getDescription() }}
        </div>

        <br>



    </div>

    <div style="display: flex">
        <div style="width:40%">

            <div class="page_block">

                <div class="title">Contact</div>

                Mail<br>
                {{ user.getEmail() }}
                <br>

                Téléphone 1<br>
                {{ user.data.phone1 }}

                <br>
                Téléphone 2<br>
                {{ user.data.phone2 }}

                <br>

            </div>

            <div class="page_block">

                <div class="title">Groupes</div>

                TODO

            </div>

            <div class="page_block">

                <div class="title">Amis</div>
                TODO

            </div>

        </div>

        <div style="flex:1;margin-left:15px;">


            <div class="page_block">

                <div class="title">Activité</div>

                TODO

            </div>

        </div>
    </div>

{% endblock %}