{% extends "Mail/en/all.html.twig" %}

{% block title %}📅 Twake, an event has been updated.{% endblock %}

{% block secondtitle %}Twake, an event has been updated.{% endblock %}

{% block body %}

    <b>An event you participate in has been updated.</b>
    <br>
    <br>
    <div style="border: 1px solid #000;padding: 16px;">

        {% if event.title %}
            <b>{{ event.title }}</b><br/><br/>
        {% else %}
            <b>Untitled</b><br/><br/>
        {% endif %}

        {% if event.location %}
            <b>Where: </b> {{ event.location }}<br/><br/>
        {% endif %}


        <b>When: </b> {{ (event.from - (user_timezone_delay*60)) | date('F j, Y, g:i a') }}
        - {{ (event.to - (user_timezone_delay*60)) | date('F j, Y, g:i a') }} ({{ user_timezone_text }})<br/><br/>

        <b>Invited by: </b> {{ sender_fullname }} {{ sender_email }}<br/><br/>

    </div>
    <br>

{% endblock %}