{% extends "Mail/en/all.html.twig" %}

{% block title %}You have been invited in the workspace {{ workspace }} {% endblock %}

{% block secondtitle %}You have been invited in the workspace {{ workspace }} of the group {{ group }}{% endblock %}

{% block body %}

    Hello,
    <br>
    <b>{{ sender_user|capitalize }}</b> ({{ sender_user_mail }}) just invited you in the workspace
    <b>{{ workspace }}</b> from the group {{ group }}.
    <br><br>

    <br>
    <center>
        <a href="{{ twakeurl|trim('/') }}/login?subscribe=1&mail={{ mail }}"
           style="display: inline-block; color: #ffffff; background-color: #837dff; border: solid 1px #837dff; border-radius: 5px; box-sizing: border-box; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; border-color: #837dff;">
            Join workspace now !
        </a>
        <div style="display:none">
            <br/>{{ twakeurl|trim('/') }}/login?subscribe=1&mail={{ mail }}
        </div>
    </center>
    <br>
    <br>

    We invite you to create a new account because we do not know this e-mail address.
    <br>
    <br>
    If you already have a Twake account, add
    <b>{{ mail }}</b> in the list of your e-mail addresses, you will be automatically added to this workspace.


{% endblock %}