{% extends 'EasyAdminBundle:default:layout.html.twig' %}

{% block body_id 'easyadmin-dashboard' %}
{% block body_class 'list dashboard' %}

{% block content_title %}
    Dashboard
{% endblock %}

{% block content_header %}
    <h1>Dashboard</h1>
{% endblock content_header %}

{% block main %}
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-orange"><i class="fa fa-coffee"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Workspaces</span>
                    <span class="info-box-number">{{ workspaces.count|number_format(0, '.', ',') }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-building"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Groups</span>
                    <span class="info-box-number">{{ groups.count|number_format(0, '.', ',') }}</span>
                </div>
            </div>
        </div>

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-user"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Active/Users</span>
                    <span class="info-box-number">{{ users.connected|number_format(0, '.', ',') }} / {{ users.count|number_format(0, '.', ',') }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-tachometer"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">RAM usage</span>
                    <span class="info-box-number">{{ ram.percent|number_format(2, '.', ',') }}% <small>{{ ram.mo|number_format(2, '.', ',') }}mo</small></span>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-8">

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Connected users by day</h3>
                </div>
                <div class="box-body">
                    <div id="connections_chart"></div>
                </div>
            </div>

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Accounts</h3>
                </div>
                <div class="box-body">
                    <div id="accounts_chart"></div>
                </div>
            </div>

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Messages</h3>
                </div>
                <div class="box-body">
                    <div id="messages_chart"></div>
                </div>
            </div>

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Files</h3>
                </div>
                <div class="box-body">
                    <div id="files_chart"></div>
                </div>
            </div>

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Events</h3>
                </div>
                <div class="box-body">
                    <div id="events_chart"></div>
                </div>
            </div>
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Users connected yesterday</h3>
                </div>
                <div>
                    {% for user in usersConnectedYesterday %}
                        <b>{{ user.user.username }}</b> {{ user.duree|date('H:i:s') }}
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-4">

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Drive Usage</h3>
                </div>
                <div class="box-body">
                    <div id="drive_chart"></div>
                </div>
            </div>

            <div class="info-box">
                <span class="info-box-icon bg-blue"><i class="fa fa-envelope"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Messages</span>
                    <span class="info-box-number">{{ nbmessages|number_format(0, '.', ',') }}</span>
                </div>
            </div>

            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-file"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Files</span>
                    <span class="info-box-number">{{ nbfiles|number_format(0, '.', ',') }}</span>
                </div>
            </div>

            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-calendar"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Events</span>
                    <span class="info-box-number">{{ nbevents|number_format(0, '.', ',') }}</span>
                </div>
            </div>

        </div>

    </div>
{% endblock main %}

{% block body_javascript %}
    {{ parent() }}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


    <script type="text/javascript">
        {{ gc_draw(workspaces.drive_usage_chart, 'drive_chart') }}
        {{ gc_draw(users.users_by_hours, 'connections_chart') }}
        {{ gc_draw(users.accounts_by_hours, 'accounts_chart') }}
        {{ gc_draw(files_by_hours, 'files_chart') }}
        {{ gc_draw(messages_by_hours, 'messages_chart') }}
        {{ gc_draw(events_by_hours, 'events_chart') }}
    </script>
{% endblock %}
