{% extends 'EasyAdminBundle:default:layout.html.twig' %}

{% block body_id 'easyadmin-dashboard' %}
{% block body_class 'list dashboard' %}

{% block content_title %}
    User
{% endblock %}

{% block content_header %}
    <h1>User</h1>
{% endblock content_header %}

{% block main %}
    <div class="row">

        <div class="col-md-8">

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">User data</h3>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th max-width="200px">Object</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Name</td>
                                <td>{{ user.firstName }} {{ user.lastName }} (@{{ user.username }})</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>{{ user.phone }}</td>
                            </tr>
                            <tr>
                                <td>Language</td>
                                <td>{{ user.language }}</td>
                            </tr>
                            <tr>
                                <td>Last activity</td>
                                <td>{{ user.lastActivity|date("Y-m-d H:i") }}</td>
                            </tr>
                            <tr>
                                <td>Last login</td>
                                <td>{{ user.lastLogin|date("Y-m-d H:i") }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Creation data</h3>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr max-width="200px">
                                <th>Object</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Creation date</td>
                                <td>{{ user.creationDate|date("Y-m-d H:i") }}</td>
                            </tr>
                            <tr>
                                <td>Origin</td>
                                <td>{{ user.origin }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Private workspace</h3>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr max-width="200px">
                                <th>Id</th>
                                <th>Activity</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    <a href="/administration/V2/workspace?id={{ private_workspace.id }}">{{ private_workspace.id }}</a>
                                </td>
                                <td>{{ private_workspace.getTotalActivity }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Shared workspaces ({{ workspaces|length }})</h3>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr max-width="200px">
                                <th>Id</th>
                                <th>Name</th>
                                <th>Added</th>
                                <th>Activity</th>
                                <th>Members</th>
                                <th>Archived</th>
                                <th>Deleted</th>
                                <th>Group</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for workspace in workspaces %}
                                <tr>
                                    <td>{{ workspace.id }}</td>
                                    <td>
                                        <a href="/administration/V2/workspace?id={{ workspace.id }}">{{ workspace.name }}</a>
                                    </td>
                                    <td>{{ workspace.date_added|date("Y-m-d H:i") }}</td>
                                    <td>{{ workspace.getTotalActivity }}</td>
                                    <td>{{ workspace.getMemberCount }}</td>
                                    <td>{{ workspace.getIsArchived }}</td>
                                    <td>{{ workspace.getis_deleted }}</td>
                                    <td>
                                        <a href="/administration/V2/group?id={{ workspace.group.id }}">{{ workspace.group.name }}
                                            ({{ workspace.group.id }})</a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-4">
            <div class="info-box box-default">
                <img src="{{ user.thumbnail.publicURL }}" style="width: 50%;border: 10px solid #FFF"/>
            </div>
        </div>
    </div>
{% endblock main %}

{% block body_javascript %}
    {{ parent() }}
{% endblock %}
