{% extends "Mail/de/all.html.twig" %}

{% block title %}Sie haben {{ total_notifications }} ungelesene Nachricht(en) auf Twake{% endblock %}

{% block secondtitle %}🔔 Sie haben {{ total_notifications }} ungelesene Nachricht(en) auf Twake{% endblock %}

{% block body %}

    <b>Guten Tag {{ username|capitalize }},</b>
    <br>
    Sie haben <span class="badge"
                    style="background: #ff2c2c;padding: 2px 5px;border-radius: 4px;color: #FFF;">{{ total_notifications }}</span> ungelesene Nachricht(en) auf Twake.
    <br><br>
    Letzte Nachricht(en):

    {% for notification in notifications %}
        <div class="card"
             style="border-radius: 4px;padding: 10px;margin-top: 10px;box-shadow: 2px 2px 20px rgba(0,0,0,0.1);background: #ffffff;color: #000;border-left: 2px solid #0682d4;font-size: 14px;">
            <span style="right: 0;font-size: 12px;color: #888;float: right;">Vor {{ notification.delay }}
                Stund(en)</span>
            <b>{{ notification.title }}</b><br>
            {{ notification.text }}
        </div>
    {% endfor %}

    <br>
    <a href="{{ twakeappurl }}">Öffne Twake</a>
    <br>

{% endblock %}