{% extends "Mail/de/all.html.twig" %}

{% block title %}Sie haben ungelesene Benachrichtigung(en) auf Twake{% endblock %}

{% block secondtitle %}Sie haben ungelesene Benachrichtigung(en) auf Twake{% endblock %}

{% block body %}

    <b>Guten Tag {{ username|capitalize }},</b>
    <br>
    Sie haben ungelesene Benachrichtigung(en) auf Twake.
    <br><br>
    Letzte Benachrichtigung(en):


    {% for notification in notifications %}
        <div class="card"
             style="border-radius: 4px;padding: 10px;margin-top: 10px;box-shadow: 2px 2px 20px rgba(0,0,0,0.1);background: #ffffff;color: #000;border-left: 2px solid #0682d4;font-size: 14px;">
            <span style="right: 0;font-size: 12px;color: #888;float: right;">Vor {{ notification.delay }}
                Stund(en)</span>
            <b>{{ notification.title }}</b><br>
            {{ notification.text }}
        </div>
    {% endfor %}

    <br>
    <br>
    <a href="{{ twakeappurl }}"
       style="display: inline-block; color: #ffffff; background-color: #837dff; border: solid 1px #837dff; border-radius: 5px; box-sizing: border-box; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; border-color: #837dff;">
        Öffne Twake
    </a>
    <br>
    <br>

{% endblock %}