
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Twake{% endblock %}</title>

    <!-- CSS from /angular/libs -->
    <!-- CSSLIBS_BEGIN -->
    <link rel="stylesheet" href="/angular/libs/ui-bootstrap/bootstrap.css"/>
    <link rel="stylesheet" href="/angular/libs/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="/angular/libs/angular-confirm/confirm.css"/>
    <!-- CSSLIBS_END -->

    <!-- CSS from /angular/styles -->
    <!-- CSSSTYLE_BEGIN -->
    {% for style in styles %}
        <link rel="stylesheet" href="/angular/administration/styles/{{ style }}" type="text/css"/>
    {% endfor %}
    <!-- CSSSTYLE_END -->
    <!-- JS  main libraries-->
    <!-- MAIN_BEGIN -->
    <script src="/angular/libs/jquery-ui/external/jquery/jquery.js"></script>
    <script src="/angular/libs/jquery-ui/jquery-ui.min.js"></script>
    <script src="/angular/libs/angular.min.js"></script>
    <script src="/angular/parameters.js"></script>
    <!-- MAIN_END -->

    <!-- JS from services -->

    <!-- JS /public/scripts/app.js  -->
    <!-- APP_BEGIN -->
    <script src="{{ apppath }}/scripts/app.js"></script>
    <!-- APP_END -->


    <!-- End of head -->
    <base href="/administration/"> <!-- For admin app only -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="/angular/administration/libs/adminlte/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/angular/administration/libs/adminlte/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/angular/administration/libs/adminlte/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/angular/administration/libs/adminlte/css/AdminLTE.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/angular/administration/libs/adminlte/css/skins/_all-skins.min.css">
    <!-- Morris chart -->
    <link rel="stylesheet" href="/angular/administration/libs/adminlte/bower_components/morris.js/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="/angular/administration/libs/adminlte/bower_components/jvectormap/jquery-jvectormap.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="/angular/administration/libs/adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="/angular/administration/libs/adminlte/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="/angular/administration/libs/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">


    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

</head>



<!-- START BASE HTML -->


<body class="hold-transition skin-blue sidebar-mini">


<div style="position: absolute;height: 100%;width: 100%;left:0px;top: 0px;overflow: hidden;">
    <div id="app" style="height: 100%;" ng-app="TwakeAdministration"
         ui-view="">

    </div>
</div>


<!-- END BASE HTML -->





<!-- INNERLIBS_BEGIN -->
<script src="/angular/libs/angular-animate/angular-animate.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
<script src="/angular/libs/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
<script src="/angular/libs/angular-resource/angular-resource.js"></script>
<script src="/angular/libs/angular-cookies/angular-cookies.js"></script>
<script src="/angular/libs/angular-sanitize/angular-sanitize.js"></script>
<script src="/angular/libs/angular-route/angular-route.js"></script>
<script src="/angular/libs/angular-translate/0platform.js"></script>
<script src="/angular/libs/angular-translate/1angular-translate.js"></script>
<script src="/angular/libs/angular-translate/2angular-translate-loader-url.js"></script>
<script src="/angular/libs/angular-translate/3angular-ui-router.min.js"></script>
<script src="/angular/libs/angular-translate/4stateHelper.min.js"></script>
<script src="/angular/libs/ui-bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="/angular/libs/angular-confirm/angular-confirm.min.js"></script>
<!-- INNERLIBS_END -->

<!-- JS from group, administration, public (controllers) -->
{% for script in appscripts %}
    <script src="{{ apppath }}/scripts/{{ script }}"></script>
{% endfor %}

<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.7 -->
<script src="/angular/administration/libs/adminlte/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Morris.js charts -->
<script src="/angular/administration/libs/adminlte/bower_components/raphael/raphael.min.js"></script>
<script src="/angular/administration/libs/adminlte/bower_components/morris.js/morris.min.js"></script>
<!-- Sparkline -->
<script src="/angular/administration/libs/adminlte/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="/angular/administration/libs/adminlte/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/angular/administration/libs/adminlte/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="/angular/administration/libs/adminlte/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="/angular/administration/libs/adminlte/bower_components/moment/min/moment.min.js"></script>
<script src="/angular/administration/libs/adminlte/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="/angular/administration/libs/adminlte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/angular/administration/libs/adminlte/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- FastClick -->
<script src="/angular/administration/libs/adminlte/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/angular/administration/libs/adminlte/adminlte.min.js"></script>


</body>
</html>