{% extends "TwakeCoreBundle:Mail:en/all.html.twig" %}

{% block title %}E-mail confirmation{% endblock %}

{% block secondtitle %}E-mail confirmation{% endblock %}

{% block body %}

    <b>Welcome to Twake !</b>
    <br>
    In order to create your account, you can click on this link :
    <br>
    <a style="color: #0787DC;"
       href="{{ twakeurl }}{{ magic_link }}">{{ twakeurl }}{{ magic_link|slice(0, 50) ~ '...' }}</a>.
    <br>
    <br>
    You can also use this code :
    <br>
    <br>
    <center>
        <div style="display: inline-block; color: #ffffff; background-color: #057CD7; border: solid 1px #057CD7; border-radius: 5px; box-sizing: border-box; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #057CD7;">
        {{ code }}
    </div>
    </center>

{% endblock %}