{% extends "TwakeCoreBundle:Mail:all.html.twig" %}

{% block title %}{{ title }} {{ workspace }}{% endblock %}

{% block secondtitle %}Vous avez été invité dans l'espace de travail {{ workspace }} du groupe {{ group }}{% endblock %}

{% block body %}

    <b>Hello,</b>
    <br>
    Vous avez été invité dans l'espace de travail {{ workspace }} du groupe {{ group }}.
    <br><br>
    Cette invitation a été faite en utilisant votre adresse e-mail. Cet e-mail n'est pas dans notre base de données et nous ne trouvons pas l'utilisateur correspondant à cet e-mail.
    <br>
    <br>
    Si vous avez déjà un compte Twake, ajoutez <b>{{ mail }}</b> à votre compte pour être ajouté à l'espace de travail.
    <br>
    Si vous n'avez pas de compte Twake, abonnez-vous en utilisant <b>{{ mail }}</b> à ajouter à l'espace de travail.
    <br>
    <br>
    <center>
        <a href="{{ twakeurl }}?subscribe=1&mail={{ mail }}">
            <div style="display: inline-block; color: #000000; background-color: #ffffff;border: solid 1px #057CD7; border-radius: 5px; box-sizing: border-box; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; border-color: #057CD7;">
                {{ twakeurl }}?subscribe=1&mail={{ mail }}
            </div>
        </a>
    </center>

{% endblock %}