{% extends "TwakeCoreBundle:Mail:fr:all.html.twig" %}

{% block title %} {{request_new_password | raw }} {% endblock %}

{% block secondtitle %} {{request_new_password}} {% endblock %}

{% block body %}

    <b> {{ hello }} {{ username }},</b>
    <br>
    {{ request_new_password_body }} :
    <br>
    <br>
    <center>
        <div style="display: inline-block; color: #ffffff; background-color: #057CD7; border: solid 1px #057CD7; border-radius: 5px; box-sizing: border-box; text-decoration: none; font-size: 14px; font-weight: bold; margin: 0; padding: 12px 25px; text-transform: capitalize; border-color: #057CD7;">
        {{ code }}
    </div>
    </center>

{% endblock %}